%h2 Create new user account
- @user.password = @user.password_confirmation = nil

= error_messages_for :user

%fieldset
  - form_for :user, :url => users_path do |f|
    %ul
      = f.label :login, "Username"
      = f.text_field :login
    %ul
      = f.label :email
      = f.text_field :email

    %ul
      = f.label :first_name
      = f.text_field :first_name

      %ul
        = f.label :last_name
        = f.text_field :last_name

    %ul
      = f.label :password
      = f.password_field :password
    
    %ul
      = f.label :password_confirmation, 'Confirm Password'
      = f.password_field :password_confirmation

    %ul
      
    %ul
      = submit_tag 'Sign up'