%h3.breadcrumb
  = link_to 'Products', products_path
  = " / "
  = link_to "#{@product.name} [#{@product.identifier}] (#{@product.status})", product_path(@product)
  = " / Manage Sprints"

= link_to 'New Sprint', new_product_sprint_path(@product), :id => 'sprint_link_add'

.clear

- if @sprints.empty?
  %h3 No Sprints in Database
- else
  %table{'cellspacing'=>'0', 'cellpadding'=>'0' }
    %thead
      %tr
        %td Title
        %td Goal
        %td Start Date
        %td End Date
        %td{'colspan' => '3'} Status
    %tbody
      - for sprint in @sprints
        %tr{:class => cycle("alt_even", "alt_odd")}
          %td= link_to sprint.title, product_sprint_path(@product, sprint)
          %td= link_to sprint.goal, product_sprint_path(@product, sprint)
          %td=h sprint.start_date.to_s(:long)
          %td=h sprint.end_date.to_s(:long)
          %td= sprint.status
          %td= link_to 'Edit', edit_product_sprint_path(@product, sprint)
          %td= link_to 'Remove', product_sprint_path(@product, sprint), :method => :delete, :confirm => "Are you sure you want to remove #{sprint.title}?"

