%h2 New Sprint

%fieldset
  - form_for(:sprint, :url => product_sprint_path(@product, @sprint)) do |f|
    = f.error_messages
    %ul
      %li
        = f.label :title
        = f.text_field :title
      %li
        = f.label :goal
        = f.text_area :goal

      %li
        = f.label :start_date
        = f.date_select :start_date
      %li
        = f.label :end_date
        = f.date_select :end_date
      %li
        = f.label :sprint_status_id
        = collection_select(:sprint, :sprint_status_id, @sprint_statuses, :id, :title )
        =  f.hidden_field :product_id, :value => params[:product_id]
      %li
        %label
        = f.submit "Create New Sprint"

= link_to 'Back', product_path(@product)