%h2 Edit Story

%fieldset
  %ul
    - form_for(@story, :url => product_story_path(@product, @story)) do |f|
      = f.error_messages
      %li
        = f.label :title
        = f.text_field :title
    
      %li
        = f.label :effort
        = f.text_field :effort

      %li
        = f.label :description
        = f.text_area :description

      %li
        = f.label :sprint
        = collection_select(:story, :sprint_id, @product.sprints.active, :id, :title, {:include_blank => "Backlog Story"} )

      = f.submit "Update Story"