%h2 Product Dashboard
= link_to 'Add a New Product', new_product_path, :id => 'product_link_add'

- if @products.empty?
  %p No Products Available
- else
  %dl{'id'=>'product'}
    - @products.each do |product|
      %dt
        = link_to "#{product.name} <span>[#{product.identifier}] (#{product.product_status.title})</span>", product_path(product)
      %dd
        %p
          %strong Description:
          =h product.description