!!!
%html{:lang =>"en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "author", :content =>"Nathan Bertram"}
    %title Mongoose - Scrum Tool
    = stylesheet_link_tag "default", :media => 'all'
    = javascript_include_tag 'jquery', 'jquery-ui', 'jrails', 'jquery.multiselects.packed', 'jquery.tablednd_0_5 _2','application'

  %body
    #wrapper
      #header
        %a{'href'=>'/', 'title'=>'Home', 'id'=>'home_link'} Home
        %h1 Mongoose <sup>Beta</sup>
        #login
          = render :partial =>  'users/user_bar' if logged_in? 

      #container
        - if flash[:notice]
          #flash_notice= flash[:notice]
        - if flash[:error]
          #flash_notice= flash[:error]
          
        = yield :layout