!!!
%html{:lang =>"en"}
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{:name => "author", :content =>"Nathan Bertram"}
    %title Mongoose - Scrum Tool
    = stylesheet_link_tag :all, :media => 'screen'
    = javascript_include_tag :all

  %body
    #wrapper
      #container
        - if flash[:notice]
          #flash_notice= flash[:notice]
        - if flash[:error]
          #flash_notice= flash[:error]
          
        = yield :layout
  
    = render :partial => 'shared/menu'
  
  = yield :javascript